# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
[sS]erver
[cC]lient

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Visual Studio Code (un)code
.vscode
.devcontainer
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

chatclient
chatserver
